.navbar-left {
  display: flex;
  align-items: center;
  .logo {
    width: 32px;
    height: 32px;
  }
  .navbar-link__list {
    .navbar-link__items a {
      color: #fff;
      text-decoration: none;
    }
  }
}

.navbar-right {
  display: flex;
  justify-content: flex-end;
  .navbar-list {
    list-style: none;
    .navbar-items a {
      color: #fff;
    }
    .navbar-icon {
      width: 32px;
      height: 32px;
    }
  }
}
