.action-button {
  padding-top: 0;
  background: transparent;
  border: none;
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  background: transparent;
  border: none;
  &:hover {
    background: transparent;
  }
  .action-button__icons {
    width: 60px;
    height: 60px;
  }
}
button.action-button.btn:focus,
button.action-button.btn:active {
  outline: none;
  background: transparent;
  border: none;
  box-shadow: none;
}
a.action-button.btn:focus,
a.action-button.btn:active {
  outline: none;
  background: transparent;
  border: none;
  box-shadow: none;
}
