@import "./base.css";

#app {
  width: 100%;
  margin: 0 auto;
  font-weight: normal;
}
.container {
  min-height: 100vh;
  margin: 0 auto;
  flex-direction: column;
  display: flex;
}
.header {
  min-height: 50px;
}
.main {
  flex: 1;
}
.footer {
  min-height: 50px;
}
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
